body {
  background-color: black;
  color: white;
  text-shadow: 2px 2px black;
}
input {
  margin-right: 2%;
}
label {
  width: 100%;
}
button {
  margin-bottom: 30px;
}
h1 {
    font-size: 3rem;
    font-weight: bolder;
}
.blueBox {
  background-color: rgba(50, 30, 110, 1);
  border: 3px rgba(100, 0, 255, 1) solid;
  border-radius: 20px;
    margin-bottom: 20px;
}
.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-variant: small-caps;
  color: #ff9900;
  text-shadow: 0px 0px 14px red;
  background-color: rgba(50, 30, 110, 1);
  /* background-image: linear-gradient(to bottom, rgba(100, 0, 240, .5) 20%, rgba(200, 0, 60, .8) ); */
}
.questionBox {
  padding: 20px;
}
.submitBox{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.submitBox input {
  width: 100px;
  margin-right: 0;
  margin-bottom: 3%;
  text-align: center;
}
.submitBox h2 {
  margin-bottom: 3%;
}
.resultsBox{
  display: none;
  padding: 25px;
}
.dynamicAge {
  color: rgba(0, 255, 0, 1);
}

#beyondTag {
  display: none;
}

#warnHealthText, #warnAgeText {
  color: red;
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}
