body {
  background-color: black;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 25px;
}
.blueBox {
  background-color: rgba(50, 30, 110, 1);
  border: 3px rgba(100, 0, 255, 1) solid;
  border-radius: 20px;
}
.jumbotron {
  margin-bottom: 20px;
  text-align: center;
  font-variant: small-caps;
}
.questionBox {
  padding: 20px;
  margin-bottom: 20px;
}
.resultsBox{
  display: none;
  padding: 25px;
}
.dynamicAge {
  color: rgba(0, 255, 0, 1);
}

#beyondTag {
  display: none;
}

#warnAgeText {
  display: none;
}
#warnHealthText {
  display: none;
}
/* .userInputForm {
padding: 20px;
} */
